body{
	font-size: 16px;       /*размер шрифта*/  
	font-family: Roboto;   /*Название шрифта */
 	color: black;	       /*цвет шрифта*/
	font-weight: normal;   /*Жирность шрифта*/
	line-height:normal;     /*Высота строки*/
}

h1{
	font-size: 36px;
}

h2{
	font-size: 18px;
}

